[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"


[packages]
alchy = "*"
click = "<7"
coloredlogs = "*"
marshmallow = "*"
"ruamel.yaml" = "*"
SQLAlchemy = "*"
Flask = ">=1.1.1"
Flask-Cors = "*"
Flask-Alchy = "*"
housekeeper = {editable = true,path = "."}
pytest-cov = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
