{% extends "layout.html" %}
{% import "components.html" as components %}

{% block main_content %}
  <h1 class="mb-3">{{ case.name }} (id: {{ case.id }})</h1>

  {% if case.current %}
    {{ components.runs_table(case=case) }}
  {% else %}
    <i class="mb-3">No runs completed yet</i>
  {% endif %}

  {% for run in case.runs %}
    <div class="card mb-3 {% if run.archived_at %}card-warning{% else %}card-default{% endif %}">
      <div class="card-header d-flex justify-content-between">
        <strong>{{ run.analyzed_at.date() }}</strong>
        {{ components.postpone_btn(case.name, run) }}
      </div>
      <div class="card-block">
        <span class="card-text mr-3"><strong>Included samples</strong></span>
        {% for sample in run.samples %}
          <a class="card-link" href="{{ url_for('samples', query_str=sample.lims_id) }}">
            {{ sample.lims_id }}
          </a>
        {% endfor %}
      </div>
    </div>

    {{ asset_table(run) }}
  {% endfor %}
{% endblock %}

{% macro asset_table(run) %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Archive</th>
        <th>File</th>
        <th>Sample</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in run.assets %}
        <tr class="{{ 'danger' if not asset.is_local }}">
          <td><span class="badge badge-primary">{{ asset.category }}</span></td>
          <td>
            {% if asset.archive_type %}
              <span class="badge badge-info">{{ asset.archive_type }}</span>
            {% endif %}
          </td>
          <td>{{ asset.basename() }}</td>
          <td>{{ asset.sample.lims_id if asset.sample_id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
