{% extends "base.html" %}
{% import "components.html" as components %}

{% block main_content %}
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="{{ url_for('cases') }}">
        <div class="row">
          <div class="col-xs-10">
            <input class="form-control" type="text" name="query_str" value="{{ qargs.query_str if qargs.query_str }}">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary form-control">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="table-responsive">
      {{ components.runs_table(cases=cases.items) }}
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-4">
          {% if cases.has_prev %}
            <a href="{{ url_for('cases', page=cases.prev_num, **qargs) }}">Previous</a>
          {% endif %}
        </div>
        <div class="col-xs-4 text-center">
          Page {{ cases.page }} <small class="text-muted">({{ cases.total }} cases)</small>
        </div>
        <div class="col-xs-4 text-right">
          {% if cases.has_next %}
            <a href="{{ url_for('cases', page=cases.next_num, **qargs) }}">Next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
