
{% macro postpone_btn(case_name, run) %}
  {% if run.cleanup_in < 10 %}
    {% if run.cleanup_in < 3 %}
      {% set btn_class = 'btn-danger' %}
    {% else %}
      {% set btn_class = 'btn-warning' %}
    {% endif %}
  {% else %}
    {% set btn_class = 'btn-default' %}
  {% endif %}

  <form action="{{ url_for('case_postpone', case_name=case_name) }}" method="POST" accept-charset="utf-8">
    <button class="btn {{ btn_class }} btn-xs">
      {{ run.cleanup_in }} days
      <span class="glyphicon glyphicon-repeat"></span>
    </button>
  </form>
{% endmacro %}

{% macro runs_table(case=None, cases=None) %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Case</th>
        <th>Pipeline</th>
        <th>Version</th>
        <th>Analyzed at</th>
        <th>Delivered at</th>
        <th>Compiled at</th>
        <th>Archived at</th>
        <th>Cleaned up at</th>
      </tr>
    </thead>
    <tbody>
      {% if case %}
        {% for run in case.runs %}
          {{ run_row(case, run) }}
        {% endfor %}
      {% elif cases %}
        {% for case in cases %}
          {{ run_row(case, case.current) }}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endmacro %}

{% macro run_row(case, run) %}
  <tr>
    <td>
      <a href="{{ url_for('case', name=case.name) }}">{{ case.name }}</a>
    </td>
    <td>{{ run.pipeline }}</td>
    <td>{{ run.pipeline_version }}</td>
    <td>{{ run.analyzed_at.date() }}</td>
    <td>{{ run.delivered_at.date() if run.delivered_at }}</td>
    <td>{{ run.compiled_at.date() if run.compiled_at }}</td>
    <td>{{ run.archived_at.date() if run.archived_at }}</td>
    <td>
      {% if run.cleanedup_at %}
        {{ run.cleanedup_at }}
      {% else %}
        {{ postpone_btn(case.name, case.current) }}
      {% endif %}
    </td>
  </tr>
{% endmacro %}
