{% extends "base.html" %}

{% block main_content %}
  {{ super() }}

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        {{ basic_stats_row() }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="received2analyzed"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% macro basic_stats_row() %}
  <div class="col-md-2 col-sm-4 col-xs-6 stats-count">
    <span class="count-top"><i class="glyphicon glyphicon-user"></i> Total Samples</span>
    <div class="count">{{ data.samples }}</div>
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 stats-count">
    <span class="count-top">
      <i class="glyphicon glyphicon-ok"></i> Sequenced Samples
    </span>
    <div class="count">{{ data.sequenced_percent|int }}%</div>
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 stats-count">
    <span class="count-top">
      <i class="glyphicon glyphicon-tasks"></i> Total Cases
    </span>
    <div class="count">{{ data.cases }}</div>
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6 stats-count">
    <span class="count-top">
      <i class="glyphicon glyphicon-ok"></i> Analyzed Cases
    </span>
    <div class="count">{{ data.analyzed_percent|int }}%</div>
  </div>
{% endmacro %}

{% block scripts %}
    {{ super() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript" charset="utf-8" async defer>
        $(function() {
            $("#received2analyzed").highcharts({
                chart: {
                  type: "spline",
                  zoomType: "x"
                },
                title: {
                  text: "Samples: from received to analyzed"
                },
                yAxis: {
                  title: {
                    text: "Days"
                  }
                },
                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        },
                        tooltip: {
                            headerFormat: '<b>{point.key}</b><br>',
                            pointFormat: '{point.y} days'
                        }
                    }
                },
                series: [{
                    color: 'rgba(223, 83, 83, .5)',
                    data: {{ to_analyzed|tojson|safe }}
                }]
            })
        })
    </script>
{% endblock %}
