{% extends "layout.html" %}

{% block main_content %}
  {{ super() }}
  
  {% for data in plots %}
    <div class="card mb-3">
      <h5 class="card-header">{{ data.category|upper }} samples</h5>
      <div class="card-block">
        <div id="plot-{{ data.category }}"></div>
      </div>
      <div class="card-block">
        <div class="d-flex justify-content-around">
          {{ stats_row(data) }}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% macro basic_stats_row() %}
  <div class="col">
    <span class="count-top">
      <i class="glyphicon glyphicon-tasks"></i> Total Cases
    </span>
    <div class="count">{{ cases }}</div>
  </div>

  <div class="col">
    <span class="count-top">
      <i class="glyphicon glyphicon-ok"></i> Analyzed Cases
    </span>
    <div class="count">{{ analyzed_percent|int }}%</div>
  </div>
{% endmacro %}

{% macro stats_row(data) %}
  <div class="count">
    <span class="count-top"><i class="glyphicon glyphicon-user"></i> Total Samples</span>
    <div class="count-value">{{ data.total }}</div>
  </div>

  <div class="count">
    <span class="count-top">
      <i class="glyphicon glyphicon-ok"></i> Sequenced Samples
    </span>
    <div class="count-value">{{ data.sequenced_percent|int }}%</div>
  </div>
{% endmacro %}

{% block scripts %}
  {{ super() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <script type="text/javascript" charset="utf-8" async defer>
    $(function() {
      {% for data in plots %}
        $("#plot-{{ data.category }}").highcharts({
          chart: {
            type: "spline",
            zoomType: "x"
          },
          title: {
            text: "50 latest {{ data.category|upper }} samples: lead times"
          },
          yAxis: {
            title: {
              text: "Days"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y} days'
              }
            }
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
          },
          series: [{
            name: 'Until analyzed',
            color: 'rgba(103, 58, 183, .5)',
            data: {{ data.to_analyzed|tojson|safe }}
          }, {
            name: 'Until sequenced',
            color: 'rgba(233, 30, 99, .5)',
            data: {{ data.to_sequenced|tojson|safe }}
          }]
        })
      {% endfor %}
    })
  </script>
{% endblock %}
