{% extends "layout.html" %}
{% from "components.html" import status_badges %}

{% block main_content %}
  {{ super() }}

  <div class="row">

    <div class="col">
      <h4 class="mb-3">Not recieved</h4>
      {{ sample_list(samples_to_receive) }}
    </div>

    <div class="col">
      <h4 class="mb-3">Not sequenced</h4>
      {{ sample_list(samples_to_sequence) }}
    </div>

    <div class="col">
      <h4 class="mb-3">Not analyzed</h4>
      {{ case_list(cases_to_analyze, show_running=True) }}
    </div>

    <div class="col">
      <h4 class="mb-3">Not delivered</h4>
      {{ case_list(cases_to_deliver) }}
    </div>

  </div>
{% endblock %}

{% macro sample_list(samples) %}
  {% for sample in samples %}
    <div class="card mb-3 {{ 'card-info' if sample.priority }}">
      <h6 class="card-header">{{ loop.index }}. {{ sample.lims_id }}</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
          <a class="card-link" href="{{ url_for('case', name=sample.case.name) }}">
            <small>{{ sample.case.name|truncate(20, True) }}</small>
          </a>

          <form action="{{ url_for('case_manual', case_id=sample.case.id) }}" method="POST" class="float-right">
            <button class="btn btn-info btn-sm">Manual</button>
          </form>
        </li>
        {% if sample.flowcells %}
          <li class="list-group-item"><small>{{ sample.flowcells|join(', ') }}</small></li>
        {% endif %}
      </ul>
    </div>
  {% else %}
    <div class="card mb-3 card-success">
      <div class="card-header">No samples!</div>
    </div>
  {% endfor %}
{% endmacro %}

{% macro case_list(cases, show_running=False) %}
  {% for case in cases %}
    <div class="card mb-3">
      <h6 class="card-header d-flex justify-content-between align-items-center">
        <span>
          {{ loop.index }}. <a href="{{ url_for('case', name=case.name) }}">{{ case.name }}</a>
        </span>

        {% if show_running and case.is_started %}
          <a href="http://trailblazer.clinicalgenomics.se/analyses/{{ case.name }}" class="float-right indicator" target="_blank"></a>
        {% endif %}
      </h6>
      <ul class="list-group list-group-flush">
        {% if case.current %}
          <li class="list-group-item">{{ status_badges(case.current) }}</li>
        {% endif %}
      </ul>
    </div>
  {% else %}
    <div class="card mb-3 card-success">
      <div class="card-header">No cases!</div>
    </div>
  {% endfor %}
{% endmacro %}
