{% extends "layout.html" %}
{% from "components.html" import status_badges, comment_modal %}

{% block main_content %}
  {{ super() }}

  <div class="row">

    <div class="col">
      <h4 class="mb-3">
        Not recieved
        <span class="badge badge-info float-right">{{ samples_to_receive.count() }}</span>
      </h4>
      {{ sample_list(samples_to_receive.limit(10)) }}
    </div>

    <div class="col">
      <h4 class="mb-3">
        Not sequenced
        <span class="badge badge-info float-right">{{ samples_to_sequence.count() }}</span>
      </h4>
      {{ sample_list(samples_to_sequence.limit(10)) }}
    </div>

    <div class="col">
      <h4 class="mb-3">
        Not analyzed
        <span class="badge badge-info float-right">{{ cases_to_analyze.count() }}</span>
      </h4>
      {{ case_list(cases_to_analyze, show_running=True) }}
    </div>

    <div class="col">
      <h4 class="mb-3">
        Not delivered
        <span class="badge badge-info float-right">{{ cases_to_deliver.count() }}</span>
      </h4>
      {{ case_list(cases_to_deliver.limit(10)) }}
    </div>

  </div>
{% endblock %}

{% macro sample_list(samples) %}
  {% for sample in samples %}
    <div class="card mb-3 {{ 'card-info' if sample.priority }}">
      <h6 class="card-header d-flex justify-content-between">
        <span>
          {{ loop.index }}. 
          <a href="{{ url_for('samples', query_str=sample.lims_id) }}">{{ sample.lims_id }}</a>
        </span>
        <span class="badge badge-pill badge-default">{{ sample.category or 'N/A' }}</span>
      </h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
          <a class="card-link" href="{{ url_for('case', name=sample.case.name) }}">
            {{ sample.case.name|truncate(20, True) }}
          </a>

          <form action="{{ url_for('case_manual', case_id=sample.case.id) }}" method="POST" class="float-right">
            <button class="btn btn-info btn-sm">Manual</button>
          </form>
        </li>
        {% if sample.received_at %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="material-icons">call_received</i>
            {{ sample.received_at.date() }}
          </li>
        {% endif %}
        {% if sample.flowcells %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="material-icons">folder</i>
            {{ sample.flowcells|join(', ') if sample.flowcells }}
          </li>
          <form action="{{ url_for('sample_sequenced', sample_id=sample.id) }}" method="POST">
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <input class="form-control form-control-sm width-inherit" name="when" type="date" min="2014-01-01" required>
              <button class="btn btn-sm btn-info">Sequenced!</button>
          </li>
          </form>
        {% endif %}
      </ul>
    </div>
  {% else %}
    <div class="card mb-3 card-success">
      <div class="card-header">No samples!</div>
    </div>
  {% endfor %}
{% endmacro %}

{% macro case_list(cases, show_running=False) %}
  {% for case in cases %}
    <div class="card mb-3">
      <h6 class="card-header d-flex justify-content-between align-items-center">
        <span>
          {{ loop.index }}. <a href="{{ url_for('case', name=case.name) }}">{{ case.name }}</a>
        </span>

        {% if show_running and case.is_started %}
          <a href="http://trailblazer.clinicalgenomics.se/analyses/{{ case.name }}" class="float-right indicator" target="_blank"></a>
        {% endif %}
      </h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-2">
              {{ comment_modal(case) }}
            </div>
            <div class="col-10">{{ case.comment if case.comment }}</div>
          </div>
        </li>
        {% if case.current %}
          <li class="list-group-item">{{ status_badges(case.current) }}</li>
        {% endif %}
      </ul>
    </div>
  {% else %}
    <div class="card mb-3 card-success">
      <div class="card-header">No cases!</div>
    </div>
  {% endfor %}
{% endmacro %}
